.header {
  height: 90px;
  margin: 0;
}
.searchContainer {
  width: 204px;
  height: 40px;
}
.searchInput {
  border-radius: 4px;
  border: 1px solid rgba(226, 232, 240, 1);
  padding-left: 36px;
}
.searchInput::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(160, 174, 192, 1);
}
.searchIcon {
  color: rgba(160, 174, 192, 1);
  position: absolute;
  top: 13.25px;
  left: 13.25px;
}
