@font-face {
  font-family: "SF Pro Text";
  src: url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot");
  src: url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.svg#SF Pro Text")
      format("svg");
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text";
}
